.carousel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Define a largura máxima do carrossel */
    margin: auto; /* Centraliza o carrossel na página */
    overflow: hidden; /* Esconde as partes dos slides que ultrapassam o contêiner */
}

.slides {
    display: flex; /* Exibe os slides em linha */
}

.slide {
    flex: 0 0 100%; /* Define a largura de cada slide */
    height: 200px; /* Define a altura dos slides */
}

#slide-img1 {
    background-image: url('jardim1.jpg'); /* Define a imagem de fundo do primeiro slide */
}

#slide-img2 {
    background-image: url('jardim2.jpg'); /* Define a imagem de fundo do segundo slide */
}

#slide-img3 {
    background-image: url('jardim3.jpg'); /* Define a imagem de fundo do terceiro slide */
}

input[type="radio"] {
    display: none; /* Esconde os botões de rádio */
}

.navigation {
    position: absolute;
    bottom: 10px; /* Define a distância da navegação ao fundo */
    left: 50%; /* Centraliza a navegação horizontalmente */
    transform: translateX(-50%);
}

.navigation label {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
}

input[type="radio"]:checked + .navigation label {
    background-color: #333; /* Muda a cor do botão de navegação quando o slide correspondente está selecionado */
}